.bg-black{background-color: black;}

/* NAVBAR start*/
.nav-link{
    font-family: Open Sans, sans-serif ;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    
}
/* NAVBAR end*/
.caousel-item {
    height: 40rem;
    color: white;
    position: relative;
}
.d-block{
    height: 45em;
    width: fit-content;
}
